body{
  margin: 0;
  font-family: sans-serif;
  
}
.main-div{
  width: 100%;
  height: 700px;
  position: relative;
  background-image: url("https://images.unsplash.com/photo-1573126617899-41f1dffb196c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8MTR8fHxlbnwwfHx8fA%3D%3D&w=1000&q=80");
  background-repeat: no-repeat;
  background-size: cover;
}
.login-form{
  position: absolute;
  left: 50%;
  top: 50%;
  width: 350px;
  height: 500px;
  transform: translateX(-175px) translateY(-250px);
  border-radius: 15px;
  background-color: rgba(173, 216, 230, 0.4);
}
.input-fields{
  width: 80%;
  height: 25px;
  margin: 5% 10% 5%;
  border: none;
  outline: none;
  border-bottom: 1px solid black;
  background-color: transparent;
}
.label-fields{
  height: 25px;
  position: absolute;
  pointer-events: none;
  width: 100%;
}
.uers-label{
  top: 51%;
  left: 10%;
}
.password-label{
  top: 63.8%;
  left: 10%;
}
span{
  position: absolute;
  bottom: 5px;
}
.login-button{
  width: 80%;
  height: 25px;
  margin: 5% 10.50% 0;
  background-color: transparent;
  border-radius: 15px;
  
}
.login-form .input-fields:focus + .label-fields span,
.login-form .input-fields:valid + .label-fields span{
  bottom: 30px;
  font-size: .7rem;
  transition: .5s all ease;
}

/* ****************** nav component ******************* */

.navbar{
  margin: 0;
  width: 100%;
  height: 40px;
  
}
.links{
  margin: 0;
  padding-top: 10px;
}
.navbar li, h4{
  display: inline;
  margin: 0 20px 0  0;
  
}
.navbar h4{
  font-size: 1.2rem;
}
.navbar a{
  border: none;
  background-color: transparent;
  text-decoration: none;
  color: black;
  
}
.navbar a:hover{
  border-bottom: 2px solid red;
}
.profile-div{
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(to bottom left, #12c2e9, #c471ed, #f64f59);
}
.profile-div img{
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin: 5% 0 2% 5%;
}
.profile-div p{
  margin: 10px 0 0 70px;
  pointer-events: none;
}
.profile-form{
  width: 400px;
  height: 500px;
  position: absolute;
  left: 50%;
  top: 20%;
  border-radius: 15px;
  background-color: white;
  

}
.profile-form h1{
  margin-bottom: 40px;
  text-align: center;
}
.profile-form label{
  margin: 0 0 10px 40px;
  font-size: .9rem;
}
.profile-form .image-input{
  width: 190px;
  height: 21px;
  border: none;
}
.profile-form input{
  display: block;
  margin: 0 0 25px 40px;
  width: 300px;
  height: 20px;
  border: none;
  border-bottom: 1px solid black;
  outline: none;
}
.profile-button{
  margin: 20px 0 0 40px;
  width: 300px;
  height: 30px;
  border-radius: 15px;
}
.change-dispaly{
  display: none;
  pointer-events: none;
}
.logout-link{
  float: right;
  margin-right: 20px;
}
@media(max-width: 731px){
  body{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(to left, #12c2e9, #c471ed, #f64f59);
  }
  .profile-div{
    background: transparent;
  }
  .profile-form{
    top: 35%;
    left: 1.5%;
  }
  .profile-div img{
    margin-left: 10%;
    display: inline;
  }
  .profile-div section{
    position: absolute;
    left: 40%;
    top: 10%;
  }
  .navbar{
    background: transparent;
  }
}